{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>

        <form action="" method="post">
            {% if error_message %}<p style="color:red; font-size:15px;"> <br>{{error_message}}</p><span class="main-heading " style="color:red; font-size:15px;"></span>{% else %} <span class="main-heading "><span class="highlight-text">{% endif %}</span></span>
            {% csrf_token %}
            <label for="email">Email/Login ID:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'login_select'%}" class="login-link">Sign Up</a></p>
    </div>




    </script>
</body>
</html>
